.tabs {
    position: relative;
    text-align: center;
}
.tab {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    width: 300px;
    cursor: pointer;
    [type='radio'] {
        display: none;
    }
    &.active {
        background-color: #535659;
        cursor: default;
    }
    label {
        cursor: pointer;
    }
}
.content {
    height: 100%;
}
