@mixin pcbrowser($resMin, $resMax) {
    @if $resMin != "" and $resMax == 0 {
        @media only screen and (min-width: $resMin) {
            @content;
        }
    }

    @else if $resMin == 0 and $resMax != "" {
        @media only screen and (max-width: $resMax) {
            @content;
        }
    }

    @else if $resMin != 0 and $resMax != 0 {
        @media only screen and (min-width: $resMin) and (max-width: $resMax) {
            @content;
        }
    }
}

@mixin devices(
    $deviceMinWidth,
    $deviceMaxWidth,
    $devicePixelRatio,
    $orientation
) {
    @media only screen and (min-device-width: $deviceMinWidth) and (max-device-width: $deviceMaxWidth) and (-webkit-device-pixel-ratio: $devicePixelRatio) and (orientation: $orientation) {
        @content;
    }
}

@mixin hdpi($ratio: 1.3) {
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio), only screen and (min--moz-device-pixel-ratio: $ratio), only screen and (-o-min-device-pixel-ratio: #{$ratio}/1), only screen and (min-resolution: #{round($ratio*96)}dpi), only screen and (min-resolution: #{$ratio}dppx) {
        @content;
    }
}
