@import "../utilities/variables";

.full_image {
  background: url("#{$img-path}PeaceStar2021.jpg") center/cover no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translate(-50%, -50%);
}
