input {
  appearance: none;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    width: 250px;
    height: 30px;
    background-color: #424242;
    padding: 0 10px;
    margin: 5px;
    display: block;
    &:focus {
      border: 2px solid #9c9c9c;
    }
  }
  &::placeholder {
    color: #e0e0e0;
  }
}

button {
  background-color: #6a6a6a;
  width: 120px;
  height: 28px;
  color: #e0e0e0;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}
