@import "../utilities/variables";

.home-link {
  background: url("#{$img-path}logo.png") center/contain no-repeat;
  width: 22px;
  height: 40px;
  margin: 0 10px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.global-link {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
