@import "../utilities/mixins";

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;

    @include prefix(
        (
            transform: translate(-50%, -50%),
        ),
        webkit
    );
}
